@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesize: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .glass-panel {
    @apply backdrop-blur-md bg-black/40 border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
}
